{%extends 'all-awwa/base.html'%} 
{% load bootstrap3 %}
<!-- Some content here-->

<!-- Looping through news end   -->
{%block content%}
<br>
<div class="container"style="background-color: burlywood">
    
  <div class="row">
      {%for image in images %}
    <div class="col-md-4">
        
      <p><strong>{{image.title|safe}} </strong></p>
    
          <img src="{{image.image.url}}" alt="centered image" style="width:300px;height:300px;">
          {% autoescape on %}
                        
          <p><strong>description:</strong>{{image.description|safe}} </p>
          <strong><p>Link</strong>:<a href="{{image.link|safe}}">{{image.link|safe}}</a></p>
          
      {% endautoescape %}
    </div>
  

{%endfor%}

</div>
<p>no project</p>

</div>{%endblock%}
